<!-- Filters --> 
<div class="uk-margin-remove-bottom uk-clearfix">
 <div class="uk-float-right"><!-- Search filter -->
  <form class="uk-search uk-search-default">
    <span uk-search-icon></span>
    <input id="myfilter" class="uk-form-width-small uk-search-input" type="search" placeholder="{{ site.data.locales[page.locale].page.search }}" aria-label="Search">
  </form>   
 </div><!-- /Search filter -->
 <div class="uk-float-left"><!-- Setting button -->    
  <div class="uk-button-group">
   <button uk-icon="icon: settings; ratio: 2" class="uk-button uk-button-default uk-padding-remove border-0" uk-toggle="target: #offcanvas-flip"></button>
  </div>
 </div><!-- /Setting button -->
</div><!-- /Filters -->
