<!DOCTYPE html>
<html data-theme="light">
<head>
 {% include meta.html %}
 {% include javascript.html %}
</head>
<bod>
<!-- Navbar --> 
<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
 <div class="uk-navbar-left">
  <a href="{{ "/" | relative_url }}" uk-icon="icon: arrow-left"></a>
 </div>
 <div class="uk-navbar-center">
  {{ page.title }}
 </div>
 <div class="uk-navbar-right">…</div>
</nav>
<!-- /Navbar -->
 <div class="uk-section uk-margin-xlarge-top"><!-- Section -->
  <div class="uk-container"><!-- Container -->
   {{ content }}
  </div><!-- /Container -->
 </div>
{% include modal.html %}
</body>
</html>
